<div class="container">
  <footer class="pt-4 my-md-5 pt-md-5 border-top">
    <div class="row">
      <div class="col-12 col-md">
        <!-- <img class="mb-2" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="24" height="24"> -->
        <small class="d-block mb-3 text-muted">&copy; 2022</small>
      </div>
      <div class="col-6 col-md">
        <h5>Method</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="/chiadoi">Chia đôi</a></li>
          <li><a class="text-muted" href="/lapdon">Lặp đơn</a></li>
          <li><a class="text-muted" href="/newton">Newton</a></li>
          <li><a class="text-muted" href="/jacobi">Jacobi</a></li>
          <li><a class="text-muted" href="/gauss">Gauss-Seidel</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>Base on</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="https://www.python.org/">Python</a></li>
          <li><a class="text-muted" href="https://flask.palletsprojects.com/">Flask</a></li>
          <li><a class="text-muted" href="https://www.bootstrapcdn.com/">Bootstrap</a></li>
          <li><a class="text-muted" href="https://www.heroku.com/">Heroku</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>About</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="https://www.facebook.com/hoangnhat0203/">Author</a></li>
          <li><a class="text-muted" href="#">Locations</a></li>
          <li><a class="text-muted" href="#">Privacy</a></li>
          <li><a class="text-muted" href="#">Terms</a></li>
        </ul>
      </div>
    </div>
  </footer>
</div>
